{% extends 'base.html.twig' %}

{% block title %}Edit Realisateur{% endblock %}

{% block body %}
    <h1>Edit Realisateur</h1>

    {{ include('realisateur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('realisateur_index') }}">back to list</a>

    {{ include('realisateur/_delete_form.html.twig') }}
{% endblock %}
